@model IEnumerable<Skivermietung.Models.Vermietung>

@{
    ViewBag.Title = "Vermietungen";
}

<h2>Vermietungen</h2>

<p>
    @Html.ActionLink("Neue Vermietung erfassen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Von)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bezahlt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rabatt)
        </th>
        <th>
            <label>Kunde</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Von)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bezahlt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rabatt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kunde.NameKomplett)
        </td>
        <td>
            @Html.ActionLink("Anpassen", "Edit", new { id=item.ID_Vermietung }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Vermietung }) |
            @Html.ActionLink("Löschen", "Delete", new { id=item.ID_Vermietung })
        </td>
    </tr>
}

</table>
